DATABASE_URL=sqlite:///./vidora.db
# To use postgres locally or on render, use: postgresql://user:password@localhost/dbname

# Google Cloud Storage keys for video uploads
GOOGLE_APPLICATION_CREDENTIALS=/app/service-account.json
GCS_BUCKET_NAME=vidora-videos-cdn

# Calendar link (Cal.com or Google Meet)
CAL_LINK=umairejaz/strategy
